    /*     background-image: linear-gradient(to right,#2f323a, #3f434c,#2f323a, #1f2126, #0a0b0d); */

    /* h1 {
        color: green;
        text-decoration: underline;
    }      */
        
    /* -.-.-.-. */
    
/* Hero section styles */

.hero-section {
    background-image: url(../images/backgrounds/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    background-color: darkblue;
    color: beige;
    width: 290px;
    border-radius: 3px;
    padding: 1px 20px;
}
.hero-section > .bottom-heading {
    background-color: rgb(197, 175, 27);
    color: rgb(26, 51, 149);
    width: 117px;
    border-radius: 3px;
    padding: 1px 20px;
    margin-top: 15px;

}

/* Features section styles */
.features-section {
    height: 400px;
    background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
    background-color: red;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
    box-shadow:  inset 40px -40px 50px 20px rgba(0,0,0,0.7);
}

.features-section> .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;

}
.features-section> .columns-wrapper > .column {
    padding: 20px;
    text-align: center;
    margin: 42px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 2s;
}
.features-section> .columns-wrapper > .column:hover {
    border-bottom: 5px solid black;
}

.features-section> .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}
.features-section> .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}
.features-section> .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section> .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}

/* Footer section */
.footer {
    height: 290px;
}
